.itemsCart{
  width: 750px;
  height: 423px;
  margin: 80px auto;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.50);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.tituloCartCont{
  height: 60px;
  padding: 20px 30px;
  font-weight: 400;
  padding-top: 20px;
  margin-right: 60px;
  width: 150px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.itemCart{
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.quitarBtn{
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.fa-minus-circle{
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 40%;
}

.fa-minus-circle:hover{
    color: rgba(255,0,0,1);
}

.image {
    margin-right: 50px;
    margin-top: 10px;
  }

.buttons{
  padding-top: 30px;
  margin-right: 40px;
}

.btn{
    margin-bottom: 3px;
}

.btn:focus{
    outline: 0;
}

.subtotal{
  width: 80px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.total{
    position: absolute;
    width: 100px;
    left: 70%;
    top: 89%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .borrarTodo{
    position: absolute;
    top: 89%;
    width: 150px;
    margin-left: 3%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
